<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FlaskApp" path="*" verb="*" modules="FastCgiModule" scriptProcessor="G:\Projetos\WebServiceOracle\.venv\Scripts\python.exe|G:\Projetos\WebServiceOracle\.venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
		<security>
			<requestFiltering allowDoubleEscaping="true"></requestFiltering>
		</security>		
    </system.webServer>
	<appSettings>
		<add key="WSGI_HANDLER" value="app.app" />
		<add key="PYTHONPATH" value="~/" />
		<add key="WSGI_LOG" value="G:\Projetos\WebServiceOracle\wsgi.log" />
		<add key="WSGI_RESTART_FILE_REGEX" value="" />
	</appSettings>	
</configuration>
